html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root {
  --gray-color: #282828;
  --black-color: #000000;
  --green-color: #1db954;

  --gray-text-color: #b3b3b3;
  --gray-scrollbar-color: #4d4d4d;
  --gray-scrollbar-hover-color: #6d6d6d;

  --liked-background-color: linear-gradient(135deg,#450af5,#c4efd9);
}



